/*reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致*/
/*所有的标签和伪类  before after*/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #333;
    font-family: "MicroSoft YaHei","sans-serif";
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
/*common*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.m_r10{
    margin-right: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.mianColor{
    color: #d8505c;
}
/*所有使用精灵图的 class  以icon_开始的所有class都有这些属性*/
[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    /*压缩背景图*/
    background-size: 200px 200px;
}
/*顶部通栏*/
.jd_topBar{
    height: 45px;
    background: url("../images/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    width: 100%;
}
.jd_topBar [class^="icon_"]{
    width: 40px;
    height: 44px;
    position: absolute;
    padding: 12px 10px;
    /*按钮大小需要设置偏大  用户体验*/
    top: 0;
    background-origin: content-box;/*定位以内容开始定位*/
    background-clip: content-box;/*显示背景 从内容开始显示*/
}
/*按钮大小不变  但是显示的背景区域 要变小*/
.jd_topBar .icon_back{
    left: 0;
    background-position: -20px 0;
}
.jd_topBar .icon_menu{
    right: 0;
    background-position: -60px 0;
}
.jd_topBar form{
    width: 100%;
    padding: 0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 7px;
}
.jd_topBar h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
    font-size: 16px;
}
